backports.shutil-get-terminal-size==1.0.0
Chameleon==2.24
decorator==4.0.9
ipython==4.2.0
ipython-genutils==0.1.0
-e git+https://github.com/johnrudolph08/learning_journal.git@b984aca51cceebfe4b8115ff6272ceb08fa3ae73#egg=learning_journal-master
Mako==1.0.4
MarkupSafe==0.23
PasteDeploy==1.5.2
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
Pygments==2.1.3
pyramid==1.6.1
pyramid-chameleon==0.3
pyramid-debugtoolbar==3.0
pyramid-ipython==0.1
pyramid-mako==1.0.2
pyramid-tm==0.12.1
repoze.lru==0.6
simplegeneric==0.8.1
SQLAlchemy==1.0.12
traitlets==4.2.1
transaction==1.4.4
translationstring==1.3
venusian==1.0
waitress==0.9.0
WebOb==1.6.0
zope.deprecation==4.1.2
zope.interface==4.1.3
zope.sqlalchemy==0.7.6
